{% extends 'index.html' %}
{% block title %}
    Listar Apartamentos
{% endblock %}

{% block content %}
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    {% for header in table_headers %}
                    <th id="table-header" style="text-align: center">{{ header }}</th>
                    {% endfor %}
                    <th id="table-header" style="text-align: center">Remover</th>
                </tr>
            </thead>
            <tbody>
            {% for apartamento in apartamentos %}
                <tr style="text-align: center">


                    <td><a style="border-bottom: none;" href="{% url "apartamentos:retrieve-apartamentos" pk=apartamento.pk %}">{{ apartamento.setor}}</a></td>
                    <td>R$ {{ apartamento.valor}}</td>
                    <td>
                      {% if apartamento.elevador %}
                        <em class="fas fa-check-square" style="color: green"></em>
                        {% else %}
                        <em class="fas fa-times-circle" style="color: red"></em>
                    {% endif %}
                    </td>
                    <td>
                    {% if apartamento.vaga %}
                        <em class="fas fa-check-square" style="color: green"></em>
                        {% else %}
                        <em class="fas fa-times-circle" style="color: red"></em>
                    {% endif %}
                    </td>
                    <td>R$ {{ apartamento.condominio}}</td>

                    <td>{{ apartamento.contato}}</td>
                    <td style="text-align: center">
                            <a class="btn btn-primary" target="_blank" rel="noopener noreferrer" href="{{ apartamento.link}}" style="border-bottom: none;">

                                <em class="fas fa-external-link-alt"></em>
                            </a>

                        </td>
                    <td>
                        <form id="delete-{{ apartamento.id }}" style="margin-bottom: 0" method="post" action="{% url "apartamentos:deletar-apartamento" pk=apartamento.id  %}">
                            {% csrf_token %}

                            <a class="btn btn-primary" href="#" onclick="document.getElementById('delete-{{ apartamento.id }}').submit()" style="border-bottom: none;">

                                <em class="fas fa-trash-alt"></em>
                            </a>

                        </form>
                    </td>

                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}