{% extends 'index.html' %}
{% block title %}
    Listar Apartamentos
{% endblock %}


{% block content %}
    <!-- Modal content -->

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/action_page.php">

  </form>
</div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="container">
              <h1>Deletar apartamento</h1>
              <p>Você tem certeza que deseja deletar este apartamento?</p>

              <div class="clearfix">
                <button type="button" class="cancelbtn" onclick="closeModal('myModal')">Cancelar</button>
                <button type="button" class="deletebtn" onclick="submitDeleteForm()">Deletar</button>
              </div>
            </div>

        </div>
    </div>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    {% for header in table_headers %}
                    <th id="table-header" style="text-align: center">{{ header }}</th>
                    {% endfor %}
                    <th id="table-header" style="text-align: center">Remover</th>
                </tr>
            </thead>
            <tbody>
            {% for apartamento in apartamentos %}
                <tr style="text-align: center">


                    <td><a style="border-bottom: none;" href="{% url "apartamentos:retrieve-apartamentos" pk=apartamento.pk %}">{{ apartamento.setor}}</a></td>
                    <td>R$ {{ apartamento.valor}}</td>
                    <td>R$ {{ apartamento.condominio}}</td>
                    <td>
                      {% if apartamento.elevador %}
                        <em class="fas fa-check-square" style="color: green"></em>
                        {% else %}
                        <em class="fas fa-times-circle" style="color: red"></em>
                    {% endif %}
                    </td>
                    <td>
                    {% if apartamento.vaga %}
                        <em class="fas fa-check-square" style="color: green"></em>
                        {% else %}
                        <em class="fas fa-times-circle" style="color: red"></em>
                    {% endif %}
                    </td>

                    <td>{{ apartamento.contato}}</td>
                    <td style="text-align: center">
                            <a class="btn btn-primary" target="_blank" rel="noopener noreferrer" href="{{ apartamento.link}}" style="border-bottom: none;">

                                <em class="fas fa-external-link-alt"></em>
                            </a>

                        </td>
                    <td>
                        <form id="delete-{{ apartamento.id }}" style="margin-bottom: 0" method="post" action="{% url "apartamentos:deletar-apartamento" pk=apartamento.id  %}">
                            {% csrf_token %}

                            <a class="btn btn-primary" href="#" onclick="showModal('delete-{{ apartamento.id }}')" style="border-bottom: none; color: red">

                                <em class="fas fa-trash-alt"></em>
                            </a>


                        </form>
                    </td>

                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}

{% block script %}
    <script>
        let aptId
        const showModal = (form_id) => {
            let modal = document.getElementById("myModal");

            // When the user clicks on <span> (x), close the modal

            modal.style.display = "flex"
            modal.style.alignItems="center"

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target === modal) {
                modal.style.display = "none";
              }
            }

            aptId = form_id;
        }

        const submitDeleteForm = () => {
            const formulario = document.getElementById(aptId);
            formulario.submit()
        }

        const closeModal = (modal_id) => {
            const modal = document.getElementById(modal_id)
            modal.style.display='none'
        }

    </script>

{% endblock %}